@model Web.ViewModels.AspNetUserViewModel

@{
    ViewData["Title"] = "";
}

<div class="ui card">
    <div class="image">
        <img src="~/images/elliot.jpg">
    </div>
    <div class="content">
        <div class="header">@Model.Profile.FullName</div>
        @if(Model.LockoutEnd.HasValue) {
            <div class="meta">
                <span class="date">Locked until @Model.LockoutEnd.Value.ToString("MM.dd.yyyy HH:mm")</span>
            </div>
        }

        <div class="description">
            <p>@Model.Profile?.Description</p>
        </div>

        <h4 class="ui sub header">Profile</h4>
        <table>
            <tr>
                <td><label asp-for="NormalizedUserName"></label></td>
                <td>@Model.NormalizedUserName</td>
            </tr>
            <tr>
                <td><label asp-for="UserName"></label></td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td><label asp-for="PhoneNumber"></label></td>
                <td>@Model.PhoneNumber <br />
                    @Model.Profile?.PhoneNumber
                </td>
            </tr>
        </table>
    </div>
    <div class="extra content">
        <a>Activity</a>
    </div>
</div>
