@model AspNetUserCompanyGrantsListViewModel
@{
    var formId = Guid.NewGuid();
}

<form id="@formId" class="ui form" asp-action="UpdateAspNetUserCompanyGrants" asp-route-id="@Model.UserId" method="post">
    <table class="ui celled unstackable orange table">
        <thead>
            <tr>
                <th>Company name</th>
                <th>Access granted</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var companyGrant in Model.Grants) {
                <tr>
                    <td>@companyGrant.EntityName</td>
                    <td>
                        <input type='hidden' name='Grants[][Id]' value='@companyGrant.Id'>
                        <input type='hidden' name='Grants[][UserId]' value='@companyGrant.UserId'>
                        <input type='hidden' name='Grants[][EntityId]' value='@companyGrant.EntityId'>
                        <div class='ui slider checkbox'>
                            <input type='checkbox' @(!string.IsNullOrEmpty(companyGrant.IsGranted) ? "checked='checked'" : "") name='Grants[][IsGranted]' value='granted'>
                            <label></label>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.checkbox').checkbox()
    });
</script>
