@model LogFilterViewModel

@{
    ViewData["Title"] = "Activities";

    var tableId = Guid.NewGuid();

    var listUrl = Url.Action("GetActivity", "Account");
    var detailsUrl = Url.Action("DetailsActivity", "Account");
}

@section RightSidebar {
    <div class="ui stacked secondary yellow segment">
        <form id="table-filter" class="ui form">
            <h3>Filters</h3>
            <div class="field">
                <label asp-for="StartDate"></label>
                <div class="ui calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input id="startDate" name="StartDate" type="text" placeholder="From" data-value-type="string" value="@(Model.StartDate.ToString("MM/dd/yyyy"))">
                    </div>
                </div>
            </div>
            <div class="field">
                <label asp-for="EndDate"></label>
                <div class="ui calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input id="endDate" name="EndDate" type="text" placeholder="To" data-value-type="string" value="@(Model.EndDate.ToString("MM/dd/yyyy"))">
                    </div>
                </div>
            </div>
            <div class="field">
                <label asp-for="UserName"></label>
                <select asp-for="UserName" asp-items="@ViewBag.UserNames" class="ui search dropdown">
                    <option value="" selected>Select user</option>
                </select>
            </div>
            <div class="field">
                <label asp-for="Search"></label>
                <input asp-for="Search" data-value-type="string">
            </div>
            <div class="field">
                <label asp-for="Method"></label>
                <select asp-for="Method" asp-items="@ViewBag.Methods" class="ui search dropdown">
                    <option value="" selected>Select user</option>
                </select>
            </div>
            <div class="field">
                <label asp-for="Controller"></label>
                <input asp-for="Controller" data-value-type="string">
            </div>
            <div class="field">
                <label asp-for="Action"></label>
                <input asp-for="Action" data-value-type="string">
            </div>
            <div class="field">
                <div class="ui slider checkbox">
                    <input id="isException" type="checkbox" name="IsException" data-value-type="boolean" value="true" />
                    <label asp-for="IsException"></label>
                </div>
            </div>
        </form>
    </div>
}

<div class="ui shape full-width">
    <div class="sides">
        <div class="active side main">
            <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
        </div>
        <div class="side details">
            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <button class="ui button" data-target=".side.main"><i class="retweet icon"></i> Back</button>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div id="@(tableId)_details"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.DocumentController = new DocumentController({
                'table': '#@tableId',
                'controller': {
                    'list': '@listUrl'
                },
                'columns': [
                    { 'title': 'User name', 'data': 'userName' },
                    { 'title': 'User address', 'data': 'userAddress' },
                    { 'title': 'Message', 'data': 'message' },
                    { 'title': 'Method', 'data': 'method' },
                    { 'title': 'Controller', 'data': 'controller' },
                    { 'title': 'Action', 'data': 'action' },
                    { 'title': 'Date', 'data': 'logged', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                ],
                'onDblRowClick': (e, data) => {
                    $.get('@detailsUrl', { 'id': data.id, 'startDate': $('#startDate').val(), 'endDate': $('#endDate').val() }).done(result => {
                       $('#@(tableId)_details').html(result).find('a[data-request=ajax]').ajaxClick();
                       $('.shape').shape('set next side', '.side.details').shape('flip over');
                    });
                }
            });
        });
    </script>
}
