@{
    ViewData["Title"] = "Accounts";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetAppNetUsers");
    var lockUrl = Url.RouteUrl("LockoutAspNetUser");
    var detailsUrl = Url.RouteUrl("DetailsAspNetUser");
    var editUrl = Url.RouteUrl("EditAspNetUser");

    var editProfileUrl = Url.RouteUrl("EditAspNetUserProfile");

    var editCompanyGrantsUrl = Url.RouteUrl("EditAspNetUserCompanyGrants");
    var editCategoryGrantsUrl = Url.RouteUrl("EditAspNetUserCategoryGrants");
}

@section RightSidebar {
    <div id="@(tableId)_details"></div>
}

<div class="ui shape">
    <div class="sides">
        <div class="active side main">
            <div id="toolbar" class="flex justify-content-between">
                <a asp-route="AddAspNetUser" class="ui button" data-request="ajax" rel="dialog" data-title="Create user"><i class="fa fa-plus mr-1"></i> Create</a>
            </div>
            <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
        </div>

        <div class="side display">
            <div class="ui stackable grid">
                <div class="row">
                    <button class="ui button" data-target=".side.main"><i class="retweet icon"></i> Back</button>
                </div>
                <div class="row">
                    <div id="@(tableId)_access"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.DocumentController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
            },
            'columns': [
                {
                    'title': 'Is locked', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => {
                        return `<div class='ui fitted slider checkbox'><input type='checkbox' name='Id[]' value='${data}' ${row.isLocked ? 'checked' : ''} ><label></label></div>`;
                    }
                },
                { 'title': 'User name', 'className': 'collapsing', 'data': 'userName', 'orderable': true },
                { 'title': 'Phone number', 'data': 'phoneNumber' },
                { 'title': 'Email', 'data': 'email' },
                { 'title': 'Roles', 'data': 'roles', 'render': (data, type, row) => $.fn.renderDatatableCollection(data, type, row) },
                {
                    'title': 'Action', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => {
                        return `<a class='ui icon' data-request='ajax' rel='dialog' href='@(editUrl)?id=${row.id}' data-title='Edit'>
                                    <i class="pencil icon"></i>
                                </a>
                                <a href='@(editCompanyGrantsUrl)?id=${data}' class='ui icon blue button' data-request='ajax' rel='dialog' data-title='Company grants'>
                                    <i class="users icon"></i>
                                </a>
                                <a href='@(editCategoryGrantsUrl)?id=${data}' class='ui icon blue button' data-request='ajax' rel='dialog' data-title='Category grants'>
                                    <i class="list alternate outline icon"></i>
                                </a>`;
                    }
                }
            ],
            'onRowClick': (e, data) => {
                if (e.target.tagName === 'TD') {
                    e.preventDefault();
                    $.get('@detailsUrl', { 'id': data.id }).done(result => {
                        $('#@(tableId)_details').html(result);
                    });
                }
            },
            'onRowChange': (e, data) => {
                $.get('@lockUrl', { 'id': data.id, 'locked': $(e.currentTarget).is(':checked') }).done(result => {
                    //$(e.currentTarget).parent('div.checkbox').checkbox(result ? 'check' : 'uncheck');
                });
            }
        });
    });

    ajaxSubmitComplete = function (e, jqXHR, status) {
        if (status === 'success') {
            window.DocumentController.reload(false);
            window.dialog.modal('hide');
        }
    };

    ajaxClick = function (e, jqXHR, status) {
        if (status === 'success') {
            var target = $(e.target).attr('data-target');
            $(target).remove();
        }
    };
    </script>
}