@model Web.ViewModels.VaccountSecurityQuestionViewModel

@{
    ViewData["Title"] = "Edit Account Security Question";
    ViewData["SubTitle"] = "";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Accounts</a></li>
        <li class="breadcrumb-item"><a asp-action="Edit" asp-route-id="@ViewBag.AccountId">@ViewBag.AccountName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Question</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <form id="submitForm" method="POST" asp-action="EditSecurityQuestion">
            <input type="hidden" name="SecurityId" value="@Model.SecurityId" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Question"></label>
                    <input asp-for="Question" class="form-control" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
                <div class="col-8">
                    <label asp-for="Answer"></label>
                    <input asp-for="Answer" class="form-control" required />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" id="saveBtn" class="btn btn-outline-primary" form="submitForm">Save</button>
            <a asp-action="Edit" asp-route-id="@ViewBag.AccountId" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>
