@model Web.ViewModels.VaccountViewModel

@{
    ViewData["Title"] = "Edit Account";
    ViewData["SubTitle"] = "";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.UserName</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <ul id="vaccountTab" class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="general-tab" href="#general" data-form="submitGeneralForm">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="serurity-tab" href="#security" data-form="submitSecurityForm"><i class="fa fa-lock mr-1"></i> Security</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <form id="submitGeneralForm" method="POST" asp-action="Edit">
                    <div class="form-group row mb-3">
                        <div class="col-4">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" autocomplete="new-username" required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="col-8">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" value="@Model.Password" class="form-control" autocomplete="new-password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-6">
                            <label asp-for="CompanyId"></label>
                            <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control" required>
                                <option value="">Select customer type</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label asp-for="VendorId"></label>
                            <select asp-for="VendorId" asp-items="@ViewBag.Vendors" class="form-control" required>
                                <option value="">Select vendor</option>
                            </select>
                            <span asp-validation-for="VendorId" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="serurity-tab">
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <h3 class="m-0">Security Question</h3>
                        <span class="text-muted d-block">These questoins will help system verify your identity should you forget your password.</span>
                    </div>
                    <img class="YPzqGd" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/recovery_scene_316x112_a71256f365c17ad4f8a1b82c5b03a173.png" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/recovery_scene_632x224_98f55395b7c579a28e9060fe6b02f901.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/recovery_scene_948x336_742c9ada16f05b8094f5152c9299677b.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/recovery_scene_1264x448_b9db53ca75b4e63d28b6944fcaa24ce7.png 4x" data-iml="13015839.449999854" data-atf="false">
                </div>
                <form id="submitSecurityForm" method="POST" asp-action="EditSecurity">
                    <input name="AccountId" type="hidden" value="@Model.Id" />
                    <input name="Id" type="hidden" value="@(Model.SecurityId ?? 0)" />
                    <div class="form-row mb-3">
                        <div class="col">
                            <label asp-for="Security.Description">Description <span class="text-muted">(Optional)</span></label>
                            <textarea asp-for="Security.Description" name="Description" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Security.Description" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                @if(Model.Security != null) {
                    <div class="">
                        <a class="btn btn-outline-success" asp-action="CreateSecurityQuestion" asp-route-securityId="@Model.SecurityId"><i class="fa fa-plus"></i> Create</a>

                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Answer</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var question in ViewBag.SecurityQuestions) {
                                <tr>
                                    <td>@question.Question</td>
                                    <td>@question.Answer</td>
                                    <td class="text-right"><a asp-action="EditSecurityQuestion" asp-route-id="@question.Id" class="btn btn-sm"><i class="fa fa-chevron-right"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" id="saveBtn" class="btn btn-outline-primary" form="submitGeneralForm">Save</button>
            <a asp-action="index" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#vaccountTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $('#saveBtn').attr('form', $(e.target).data('form'));
            })
        });
    </script>
}