@model Web.ViewModels.CategoryViewModel

@{
    var formId = Guid.NewGuid();
}

<form id="@formId" class="ui form" asp-action="UpdateCategory" asp-route-id="@Model.Id" method="put">
    <fieldset>
        <input type="hidden" asp-for="Id" />
        <div class="two fields">
            <div class="field required">
                <label asp-for="Name"></label>
                <input asp-for="Name" required />
            </div>
            <div class="field required">
                <label asp-for="ParentId"></label>
                <select asp-for="ParentId" asp-items="@ViewBag.Categories" data-value-type="number">
                    <option>No parent</option>
                </select>
            </div>
        </div>

        <div class="ui right floated mini icon button" onclick="javascript: $.fn.addField('#@(formId)_container');">
            <i class="plus icon"></i>
        </div>

        <h4 class="ui dividing header">Fields</h4>
        <div id="@(formId)_container" class="ui form">
            @foreach(var field in Model.Fields) {
                <div id="@(formId +"_"+ field.Id)" class="inline fields">
                    <input type="hidden" name="Fields[][Id]" value="@field.Id" />
                    <div class="eight wide field required">
                        <input name="Fields[][Name]" required placeholder="Name" value="@field.Name" data-value-type="string" />
                    </div>
                    <div class="four wide field required">
                        <select name="Fields[][Type]" asp-for="@field.Type" asp-items="Html.GetEnumSelectList<Core.Data.Enums.FieldEnum>()" data-value-type="number" required></select>
                    </div>
                    <div class="three wide field">
                        <div class="ui toggle checkbox">
                            <input name="Fields[][IsRequired]" type="checkbox" data-value-type="boolean" @(field.IsRequired ? "checked" : "")>
                            <label>Is Required</label>
                        </div>
                    </div>
                    <div class="one wide field">
                        <a asp-action="DeleteCategoryField" asp-route-id="@field.Id" data-request="ajax" data-target="#@(formId +"_"+ field.Id)">delete</a>
                    </div>
                </div>
            }
        </div>
    </fieldset>
</form>
