@model Web.ViewModels.UccountViewModel
@{
    var formGuid = Guid.NewGuid();
    var vendorContainerFieldsGuid = Guid.NewGuid();
    var vendorContainerCategoryGuid = Guid.NewGuid();


    var persons = (List<SelectListItem>)ViewData["Persons"];
    var companies = (List<SelectListItem>)ViewData["Companies"];
    var vendors = (List<SelectListItem>)ViewData["Vendors"];
    var categories = (List<SelectListItem>)ViewData["Categories"];
    var uccountKind = (Core.Data.Enums.UccountTypes)ViewData["Kind"];
}

<form id="@formGuid" class="ui form" asp-route="CreateUccount" method="post" data-request="ajax">
    <fieldset>
        <input type="hidden" name="Kind" value="@((int)uccountKind)" />

        <div class="field">
            <div class="two fields">
                @if(uccountKind == Core.Data.Enums.UccountTypes.BUSINESS) {
                    <div class="field required">
                        <label asp-for="CompanyId"></label>
                        <select class="ui search dropdown" required asp-for="CompanyId" asp-items="@companies">
                            <option value="" selected>Select customers</option>
                        </select>
                    </div>
                } else {
                    <div class="field required">
                        <label asp-for="PersonId"></label>
                        <select class="ui search dropdown" required asp-for="PersonId" asp-items="@persons">
                            <option value="" selected disabled hidden>Select vendor</option>
                        </select>
                    </div>
                }

                <div class="field required">
                    <label asp-for="VendorId"></label>
                    <select data-target="#@vendorContainerFieldsGuid" data-category="#@vendorContainerCategoryGuid" class="ui search dropdown" required asp-for="VendorId" asp-items="@vendors">
                        <option value="" selected disabled hidden></option>
                    </select>
                </div>
            </div>
        </div>

        <div>
            <div id="@vendorContainerFieldsGuid" class="fields"></div>
            <div id="lists"></div>
        </div>

        <div class="ui right floated dropdown mini icon button" tabindex="0" >
            <i class="plus icon"></i>
            <div id="@vendorContainerCategoryGuid" class="left menu"></div>
        </div>

        <h4 class="ui dividing header">Services</h4>
        <div id="servicesContainer"></div>
    </fieldset>
</form>