@model Web.ViewModels.UccountViewModel
@using Web.ViewModels;
@{ 
    var sectionFields = (List<UccountSectionFieldViewModel>)ViewData["SectionFields"];
}

@section RightSidebar {
    <div class="ui sticky">
        <div class="ui clearing">
            <h4 class="ui header">Sections</h4>
            <a asp-action="AddSectionField" asp-route-id="@Model.Id" data-request="ajax" rel="dialog"><i class="plus icon" data-action="create"></i> Create</a>
        </div>
    </div>
}
<div role="toolbar" class="ui secondary menu">
    <div class="right menu">
        <form asp-action="Delete" asp-route-Id="@Model.Id" method="delete">
            <button type="submit" class="red ui button" onclick="if (!confirm('Are you sure want to delete this?')) { return false; }"><i class="trash icon"></i> Remove</button>
        </form>
    </div>
</div>

<div class="ui segments">
    <div class="ui segment">
        <form class="ui form" asp-action="Edit">
            <fieldset>
                <input type="hidden" name="Id" value="@Model.Id" />
                @*@foreach(var field in sectionFields) {
                <input type="hidden" name="Id" value="@Model.Id" />

                <div class="field @(field.IsRequired ? "required": "")">
                    <label>@(field.Name)</label>
                    <input value="@field.Value" required />
                </div>
                }*@
                <button type="submit" class="ui submit button">Save</button>
            </fieldset>
        </form>
    </div>
</div>

