@model Web.ViewModels.UccountFilterViewModel
@{
    ViewData["Title"] = "Accounts";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetUccounts");
    var deleteUrl = Url.RouteUrl("DeleteUccounts");
    var editUrl = Url.RouteUrl("EditUccount");
    var detailsUrl = Url.RouteUrl("DetailsUccount");
}

@section RightSidebar {
    <div class="ui stacked segment">
        <form id="table-filter" class="ui form">
            <h3>Filters</h3>
            <div class="field">
                <label asp-for="Kind"></label>
                <select asp-for="Kind" asp-items="@Html.GetEnumSelectList<Core.Data.Enums.UccountTypes>()" class="ui dropdown">
                    <option value="" selected>Select account type</option>
                </select>
            </div>
            <div class="field">
                <label asp-for="VendorId"></label>
                <select asp-for="VendorId" asp-items="@ViewBag.Vendors" class="ui search dropdown">
                    <option value="" selected>Select vendor</option>
                </select>
            </div>
            <div class="field">
                <label asp-for="CustomerId"></label>
                <select asp-for="CustomerId" asp-items="@ViewBag.Customers" data-clearable="true" class="ui search dropdown">
                    <option value="" selected>Select customers</option>
                </select>
            </div>
        </form>
    </div>
    <div id="@(tableId)_detail"></div>
}
<div>
    <div id="toolbar" class="ui secondary menu">
        <div class="ui buttons">
            <a class="ui button" asp-action="AddUccount" asp-route-kind="0" data-request="ajax" rel="dialog" data-title="Create business account">Bussines</a>
            <div class="or"></div>
            <a class="ui button" asp-action="AddUccount" asp-route-kind="1" data-request="ajax" rel="dialog" data-title="Create personal account">Personal</a>
        </div>

        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>

@section Scripts {
    <script type="text/javascript">
        const VENDOR_FIELDS = "Fields";
        const SERVICES_FIELDS = "Services[][Fields]";
        const VENDOR_FIELDS_EL_NAME = "#vendor-fields";
        const SERVICES_FIELDS_EL_NAME = "#services-fields";

        function serviceCreateOnClick (_, jqXHR, status) {
            if(status === 'success') {
                const data = jqXHR.responseJSON;
                if (data && data.fields) {
                    const { id, name, fields } = data;
                    const generatedFields = generateFields(fields, SERVICES_FIELDS);
                    const groupFields = generateGroup(id, name, generatedFields);

                    $(SERVICES_FIELDS_EL_NAME).append(groupFields);
                }
            }
        }

        function serviceDeleteOnClick(e, jqXHR, status) {
            if(status === 'success') {
                var link = $(e.target);
                var target = $(link.data('target')).remove();
                window.DocumentController.reload(false);
            }
        }

        $(document).ready(function () {
            window.DocumentController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
                'delete': '@deleteUrl'
            },
            'columns': [
                { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
                { 'title': 'Vendor', 'className': 'collapsing', 'data': 'vendorName' },
                { 'title': 'Customer', 'data': 'name', 'render': (data, type, row) => { return `<span>${data}<br/>${row.kind}</span>` } },
                { 'title': 'Modified', 'className': 'collapsing', 'data': 'updated', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                { 'title': 'Services', 'className': 'collapsing', 'data': 'serviceCount' }
            ],
            'onRowClick': (e, data) => {
                $.get('@detailsUrl', { 'id': data.id }).done(result => {
                    $('#@(tableId)_detail').html(result);
                });
            },
            'onDblRowClick': (e, data) => {
                $.get('@editUrl', { 'id': data.id }).done(result => {
                    $(result).dialog();
                });
            }});
        });

        ajaxSubmitComplete = function (e, jqXHR, status) {
            if (status === 'success') {
                window.DocumentController.reload(false);
                window.dialog.modal('hide');
            }
        };

        ajaxClick = function (e, jqXHR, status) {
            if (status === 'success') {
                var target = $(e.target).attr('data-target');
                $(target).remove();
            }
        };

        generateFields = function (fields, name, label=false) {
            return fields.map(field => {
                return (
                    `<div class='field'>
                        ${label ? `<label>${field.name}</label>` : ''}
                        <input type="hidden" name="${name}[][Name]" value="${field.name}">
                        <input type="hidden" name="${name}[][IsRequired]" value="${field.isRequired}" data-value-type="boolean">
                        <input type="hidden" name="${name}[][Type]" value="${field.type}" data-value-type="number">
                        <input type="hidden" name="${name}[][TypeName]" value="${field.typeName}">
                        <input name="${name}[][Value]" ${field.isRequired && "required"} placeholder="${field.name}" ${field.htmlTypeName === "checkbox" ? 'value="1"': ""} type="${field.htmlTypeName}" data-value-type="string" />
                    </div>`
                )
            }).join("\n ");
        }

        generateGroup = function (id, name, html) {
            const $group = $(`
                <div id="${id}" class="fields">
                    <input type="hidden" name="Services[][Name]" value="${name}" data-value-type="string">
                    <div class="field two wide flex align-center">
                        <label>${name}</label>
                    </div>
                    ${html}
                    <div class="field flex align-center justify-center">
                       <a href="#">delete</a>
                    </div>
                </div>`);

            $group.find("a").on("click", function (e) {
                e.preventDefault();
                $group.remove();
            });

            return $group;
        }
    </script>
}
