@model Web.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "Payment datails";
    Layout = null;
}

<div class="">
    <div class="alert alert-primary">
        Customers can pay for invoices by credit card or ACH bank transfer. All they have to do is tap the button in the list of invoices.
    </div>
    <dl class="row">
        <dt class="col-sm-3"><label asp-for="No"></label></dt>
        <dd class="col-sm-9">@Model.No</dd>

        <dt class="col-sm-3"><label asp-for="MethodName"></label></dt>
        <dd class="col-sm-9">@Model.MethodName</dd>

        <dt class="col-sm-3"><label asp-for="Amount"></label></dt>
        <dd class="col-sm-9">@Model.Amount</dd>

        <dt class="col-sm-3"><label asp-for="Date"></label></dt>
        <dd class="col-sm-9">@Model.Date</dd>

        <dt class="col-sm-3"><label asp-for="Note"></label></dt>
        <dd class="col-sm-9">@Model.Note</dd>
    </dl>
</div>