@model InvoiceViewModel
@{
    var formId = Guid.NewGuid();

    var accounts = (IEnumerable<SelectListItem>)ViewData["Accounts"];
    var serviceListUrl = Url.RouteUrl("GetInvoiceServices");
}

<form id="@formId" class="ui form" asp-action="CreateInvoice" method="post">
    <fieldset>
        <div class="two fields">
            <div class="six wide field required">
                <label asp-for="No"></label>
                <input asp-for="No" data-value-type="string" required>
            </div>

            <div class="ten wide field required">
                <label asp-for="AccountId"></label>
                <select class="ui fluid dropdown" asp-for="AccountId" asp-items="@accounts" rel="onAccountSelectChange" data-target="#@(formId)_menuContainer" data-url="@(serviceListUrl)" data-key="Id" data-request="ajax" required >
                    <option value="" selected disabled hidden>Choose here</option>
                </select>
            </div>
        </div>

        <div class="four fields">
            <div class="field required">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" min="0" data-value-type="number" required>
            </div>
            <div class="field required">
                <label asp-for="TaxRate"></label>
                <input asp-for="TaxRate" type="number" data-value-type="number" required>
            </div>
            <div class="field required">
                <label asp-for="Date"></label>
                <input asp-for="Date" type="date" required>
            </div>
            <div class="field required">
                <label asp-for="DueDate"></label>
                <input asp-for="DueDate" type="date" required>
            </div>
        </div>

        <div class="ui right floated vertical dropdown mini icon button" tabindex="0">
            <i class="plus icon"></i>
            <div id="@(formId)_menuContainer" class="menu"></div>
        </div>

        <h4 class="ui dividing header">Services</h4>
        <div id="@(formId)_serviceContainer" class="ui form"></div>
    </fieldset>
</form>