@model InvoiceViewModel
@{
    var formId = Guid.NewGuid();

    var accountName = (string)ViewData["AccountName"];
}

<form id="@formId" class="ui form" asp-action="UpdateInvoice" asp-route-id="@Model.Id" method="put">
    <fieldset>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="AccountId" />
        <div class="field">
            <label asp-for="AccountId"></label>
            <input value="@accountName" readonly>
        </div>
        <div class="field required">
            <label asp-for="No">Number</label>
            <input asp-for="No" data-value-type="string" required>
        </div>
        <div class="two fields">
            <div class="six width field required">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" data-value-type="number" required>
            </div>
            <div class="twelve width field required">
                <label asp-for="TaxRate">Tax rate</label>
                <input asp-for="TaxRate" data-value-type="number" required>
            </div>
        </div>
        <div class="two fields">
            <div class="six width field required">
                <label asp-for="Date"></label>
                <input asp-for="Date" type="date" required>
            </div>
            <div class="twelve width field required">
                <label asp-for="DueDate">Due date</label>
                <input asp-for="DueDate" type="date" required>
            </div>
        </div>

        <div id="@(formId)_toolbar" class="ui secondary menu">
            <div class="ui floating dropdown labeled icon button">
                <i class="plus icon"></i>
                <span class="text">Service</span>
                <div class="menu">
                    <div class="header">
                        Add service
                    </div>
                    <div id="service-dropdown" class="scrolling menu">
                    </div>
                </div>
            </div>
        </div>

        <h4 class="ui dividing header">Fields</h4>
        <div id="@(formId)_container" class="ui form">
            @foreach(var service in Model.Services) {
                <div id="@(formId +"_"+ service.Id)" class="inline fields">
                    <input type="hidden" name="Services[][Id]" value="@service.Id" />
                    <div class="seven width field required">
                        <label asp-for="@service.Name"></label>
                        <input name="Services[][Name]" data-value-type="string" value="@service.Name" required>
                    </div>
                    <div class="four width field required">
                        <label asp-for="@service.Amount"></label>
                        <input name="Services[][Amount]" data-value-type="number" value="@service.Amount" required>
                    </div>
                    <div class="four width field required">
                        <label asp-for="@service.Count"></label>
                        <input name="Services[][Count]" data-value-type="number" value="@service.Count" required>
                    </div>
                    <div class="one wide field">
                        <a href="#" onclick="$('#@(formId +"_"+ service.Id)').remove()">delete</a>
                    </div>
                </div>
            }
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $.fn.fillInvoiceServiceNames('#service-dropdown', @Model.AccountId);

        $('#service-dropdown').on('click', '.item', function () {
            const value = $(this)[0].textContent;
            $.fn.addInvoiceServices('#@(formId)_container', value);
        });
    });
</script>
