@model InvoiceViewModel
@{
    var formId = Guid.NewGuid();

    var accountName = (string)ViewData["AccountName"];
    var services = (List<UccountServiceViewModel>)ViewData["Services"];
}

<form id="@formId" class="ui form" asp-action="UpdateInvoice" asp-route-id="@Model.Id" method="put">
    <fieldset>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="AccountId" />
        <div class="two fields">
            <div class="six wide field required">
                <label asp-for="No">Number</label>
                <input asp-for="No" data-value-type="string" required>
            </div>

            <div class="ten wide field required">
                <label asp-for="AccountId"></label>
                <input value="@accountName" readonly>
            </div>
        </div>

        <div class="four fields">
            <div class="field required">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" min="0" data-value-type="number" required>
            </div>
            <div class="field required">
                <label asp-for="TaxRate">Tax rate</label>
                <input asp-for="TaxRate" type="number" data-value-type="number" required>
            </div>
            <div class="field required">
                <label asp-for="Date"></label>
                <input asp-for="Date" type="date" required>
            </div>
            <div class="field required">
                <label asp-for="DueDate">Due date</label>
                <input asp-for="DueDate" type="date" required>
            </div>
        </div>

        <div class="ui right floated vertical dropdown mini icon button" tabindex="0">
            <i class="plus icon"></i>
            <div id="@(formId)_menuContainer" class="menu" >
                @foreach(var service in services) {
                    <a class="item" asp-route="AddInvoiceService" asp-route-id="@Model.Id" asp-route-sguid="@service.Id" data-request="ajax" rel="onCreateInvoiceServiceClick" data-target="#@(formId)_serviceContainer">
                        @(service.Name + ": " + string.Join("| ", service.Fields.Where(x => x.IsHidden == false && !string.IsNullOrWhiteSpace(x.Name)).Select(x => x.Value)))
                    </a>
                }
            </div>
        </div>

        <h4 class="ui dividing header">Services</h4>
        <div id="@(formId)_serviceContainer" class="ui form">
        @foreach(var service in Model.Services) {
            <partial name="_FieldPartial" model="service" />
        }
        </div>
    </fieldset>
</form>