@{
    var url = Context.Request.Path.ToString().ToLower();
}
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link  @(url.Contains("/company") ? "active" : "")" asp-controller="Company" asp-action="Index">
            <i class="fas fa-building mr-1"></i> Companies
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @(url.Contains("/customer") ? "active" : "")" asp-controller="Customer" asp-action="Index">
            <i class="fas fa-user-friends mr-1"></i> Customers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @(url.Contains("/invoice") ? "active" : "")" asp-controller="Invoice" asp-action="Index">
            <i class="fas fa-file-invoice mr-1"></i> Invoices
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @(url.Contains("/payment") ? "active" : "")" asp-controller="Payment" asp-action="Index">
            <i class="fas fa-coins mr-1"></i> Payments
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @(url.Contains("/report") ? "active" : "")" asp-controller="Report" asp-action="Index">
            <i class="fas fa-flag mr-1"></i> Reports
        </a>
    </li>
</ul>