@{
    var url = Context.Request.Path.ToString().ToLower();
}

<!-- Sidebar Menu -->
<div class="ui vertical inverted menu">
    <div class="item">
        <a class="ui logo icon image" href="#">
            <img src="~/images/margo-icon.png">
        </a>
        <a href="/"><b>Margo Assistant</b></a>
    </div>

    <div class="item">
        <div class="header">Dashboard</div>
        <div class="menu">
            <a class="item @(url.Contains("/home") || url.Equals("/") ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>

    <div class="item">
        <div class="header">Database</div>
        <div class="menu">
            <a class="item @(url.Contains("/person") ? "active" : "")" asp-controller="Person" asp-action="Index">Persons</a>
            <a class="item @(url.Contains("/company") ? "active" : "")" asp-controller="Company" asp-action="Index">Companies</a>
            <a class="item @(url.Contains("/uccount") ? "active" : "")" asp-controller="Uccount" asp-action="Index">Accounts</a>
        </div>
    </div>

    <div class="item">
        <div class="header">Payment</div>
        <div class="menu">
            <a class="item @(url.Contains("/invoice") ? "active" : "")" asp-controller="Invoice" asp-action="Index">Invoices</a>
            <a class="item @(url.Contains("/payment") ? "active" : "")" asp-controller="Payment" asp-action="Index">Payments</a>
        </div>
    </div>

    @if(User.IsInRole("Administrator")) {
    <div class="item">
        <div class="header">Admin settings</div>
        <div class="menu">
           
            <a class="item @(url.Contains("/category") ? "active" : "")" asp-controller="Category" asp-action="Index">
                Categories
            </a>
            @*<a class="item @(url.Contains("/section") ? "active" : "")" asp-controller="Section" asp-action="Index">
                Section
            </a>*@
            <a class="item @(url.Contains("/vendor") ? "active" : "")" asp-controller="Vendor" asp-action="Index">
                Vendors
            </a>
        </div>

        <div class="header">Accounts</div>
        <div class="menu">
            <a class="item @(url.Equals("/account") ? "active" : "") " asp-controller="Account" asp-action="Index">
                Users
            </a>
            <a class="item @(url.Contains("/account/request") ? "active" : "") " asp-controller="Account" asp-action="Request">
                Requests
            </a>
            <a class="item @(url.Contains("/account/activity") ? "active" : "") " asp-controller="Account" asp-action="Activity">
                Activity
            </a>
        </div>
    </div>
    }
</div>
