@model Web.ViewModels.CompanyViewModel

@{
    var tableId = Guid.NewGuid();

    var detailsUrl = Url.RouteUrl("DetailsCompany");
    var services = (List<CompanyDataMenuListViewModel>)ViewData["Services"];
}

<div class="ui attached orange segment">
        <h3 class="header text-align-center">@Model.Name</h3>
        <table class="ui celled table">
            <tbody>
                <tr>
                    <td><label asp-for="EIN"></label></td>
                    <td>@Model.EIN</td>
                </tr>
                <tr>
                    <td><label asp-for="DB"></label></td>
                    <td>@Model.DB</td>
                </tr>
                <tr>
                    <td><label asp-for="Founded"></label></td>
                    <td>@Model.Founded</td>
                </tr>
                @foreach(var service in services) {
                    <tr id="@service.Id">
                        <td data-label="Name">@service.Name</td>
                        <td data-label="Data">
                            <table>
                                <tbody name="inner">
                                @foreach(var field in service.Fields) {
                                    @if (field.Selected) {
                                        <tr id="@field.Id">
                                            <td style="border: none; padding: 0px 10px 0px 10px;">
                                                @foreach (var hiddenId in field.Ids)
                                                {
                                                    <input type="hidden" name="Data[][CompanyId]" value="@Model.Id" data-value-type="string">
                                                    <input type="hidden" name="Data[][FieldId]" value="@hiddenId" data-value-type="string">
                                                }
                                                <span>@field.Value</span>
                                            </td>
                                            <td style="vertical-align: baseline; border: none; padding: 0 10px 0 10px;">
                                                <a  
                                                    asp-route="DeleteCompanyData"
                                                    asp-route-ids="@(string.Join(";", field.Ids))"
                                                    data-request="ajax"
                                                    data-row-root-id="#@service.Id"
                                                    data-field-id="#@field.Id"
                                                    rel="onDeleteDataClick"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                    delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>