@model Web.ViewModels.CompanyViewModel

@{
    var guid = Guid.NewGuid();
    var serviceFieldsGuid = Guid.NewGuid();

    var persons = (List<SelectListItem>)ViewData["Persons"];
    var categories = (List<SelectListItem>)ViewData["Categories"];
}

<form id="@guid" class="ui form" asp-route="UpdateCompany" asp-route-id="@Model.Id" method="post" data-request="ajax">
    <fieldset>
        <h4 class="ui dividing header">General</h4>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="fields">
            <div class="twelve wide field required">
                <label asp-for="Name"></label>
                <input asp-for="Name" required data-value-type="string" />
            </div>
            <div class="four wide field required">
                <label asp-for="CEOId"></label>
                <select class="ui search dropdown" required asp-for="CEOId" asp-items="@persons">
                </select>
            </div>
        </div>
       
        <div class="three fields">
            <div class="field required">
                <label asp-for="EIN"></label>
                <input asp-for="EIN" data-value-type="string" required />
            </div>
            <div class="field required">
                <label asp-for="DB"></label>
                <input asp-for="DB" data-value-type="string" required/>
                <span asp-validation-for="DB"></span>
            </div>
            <div class="field">
                <label asp-for="Founded"></label>
                <input asp-for="Founded" type="date" data-value-type="string" />
            </div>
        </div>
        <div class="field">
            <label asp-for="Description">Description <span class="text-muted">(Optional)</span></label>
            <textarea asp-for="Description" rows="3" data-value-type="string"></textarea>
        </div>

        <div class="ui right floated dropdown mini icon button" tabindex="0" >
            <i class="plus icon"></i>
            <div class="menu">
                <div class="header">Sections Types</div>
                @foreach(var category in categories) {
                    <a data-request="ajax" id="@category.Value" class="item" data-target="#@serviceFieldsGuid" rel="onSectionCreateClick" asp-route="GetCategory" asp-route-id="@category.Value">@category.Text</a>
                }
            </div>
        </div>
        <h4 class="ui dividing header">Fields</h4>

        <div id="@serviceFieldsGuid">
            @foreach(var Section in Model.Sections) {
                <div id="@Section.Id" class="fields">
                    <input type="hidden" name="Sections[][Name]" value="@Section.Name" data-value-type="string">
                    <div class="field two wide flex align-center">
                        <label>@Section.Name</label>
                    </div>
                    @foreach (var Field in Section.Fields)
                    {
                        <div class="field">
                            <input type="hidden" name="Sections[][Fields][][Name]" value="@Field.Name">
                            <input type="hidden" name="Sections[][Fields][][IsRequired]" value="@Field.IsRequired" data-value-type="boolean">
                            <input type="hidden" name="Sections[][Fields][][Type]" value="@((int)Field.Type)" data-value-type="number">
                            <input type="hidden" name="Sections[][Fields][][TypeName]" value="@Field.TypeName">
                            <input name="Sections[][Fields][][Value]" autocomplete="new-password" @(Field.IsRequired ? "required" : "") placeholder="@Field.Name" type="@Field.HTMLTypeName" value="@((String.IsNullOrEmpty(Field.Value) && (Field.HTMLTypeName == "checkbox")) ? "1" : Field.Value)" @(Field.HTMLTypeName == "checkbox" && Field.Value == "1" ? "checked" : "") data-value-type="string" />
                        </div>
                    }
                    <div class="field flex align-center justify-center">
                        <a asp-route="DeleteCompanySection" asp-route-id="@Section.Id" data-request="ajax" data-target="#@Section.Id" rel="onSectionDeleteClick" onclick="return confirm('Are you sure want to delete this?')">delete</a>
                    </div>
                </div>
            }
        </div>
    </fieldset>
</form>