@model Web.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = Model.General.Name;
}

<div class="ui card">
    <div class="content">
        <div class="header">@Model.General.Name</div>
        <div class="description">
            <dl>
                <dt><label asp-for="General.No"></label></dt>
                <dd>@Model.General.No</dd>

                <dt><label asp-for="General.Website"></label></dt>
                <dd>@Model.General.Website</dd>

                <dt><label asp-for="General.PhoneNumber"></label></dt>
                <dd>@Model.General.PhoneNumber</dd>

                <dt><label asp-for="General.Email"></label></dt>
                <dd>@Model.General.Email</dd>

                <dt><label asp-for="General.CEO"></label></dt>
                <dd>@Model.General.CEO</dd>

                <dt><label asp-for="General.EIN"></label></dt>
                <dd>@Model.General.EIN</dd>

                <dt><label asp-for="General.DB"></label></dt>
                <dd>@Model.General.DB</dd>

                <dt><label asp-for="General.Founded"></label></dt>
                <dd>@Model.General.Founded</dd>
            </dl>
        </div>
    </div>
</div>