@model Web.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Edit Company";
    ViewData["SubTitle"] = "Please provide all required details to edit company info";
}

@section Toolbar  {
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <form method="POST" asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                <button type="submit" class="btn btn-outline-danger" onclick="if (!confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
            </form>
        </div>
    </div>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Companies</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.General.Name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <ul id="companyTab" class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="general-tab" href="#general" data-form="submitGeneralForm">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="address-tab" href="#address" data-form="submitAddressForm">Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="suppliers-tab" href="#suppliers" data-form="">Suppliers</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <form id="submitGeneralForm" method="POST" asp-action="Edit">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group row mb-3">
                        <div class="col-4">
                            <label asp-for="General.No"></label>
                            <input asp-for="General.No" type="text" name="No" class="form-control" required />
                            <span asp-validation-for="General.No" class="text-danger"></span>
                        </div>
                        <div class="col-8">
                            <label asp-for="General.Name"></label>
                            <input asp-for="General.Name" type="text" name="Name" class="form-control" required />
                            <span asp-validation-for="General.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-4">
                            <label asp-for="General.Website"></label>
                            <input asp-for="General.Website" type="text" name="Website" class="form-control" />
                            <span asp-validation-for="General.Website" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="General.PhoneNumber"></label>
                            <input asp-for="General.PhoneNumber" type="text" name="PhoneNumber" class="form-control" />
                            <span asp-validation-for="General.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="General.Email"></label>
                            <input asp-for="General.Email" type="text" name="Email" class="form-control" />
                            <span asp-validation-for="General.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-4">
                            <label asp-for="General.CEO"></label>
                            <input asp-for="General.CEO" type="text" name="CEO" class="form-control" />
                        </div>
                        <div class="col-3">
                            <label asp-for="General.EIN"></label>
                            <input asp-for="General.EIN" type="text" name="EIN" class="form-control" />
                        </div>
                        <div class="col-3">
                            <label asp-for="General.DB"></label>
                            <input asp-for="General.DB" type="text" name="DB" class="form-control" />
                            <span asp-validation-for="General.DB" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <label asp-for="General.Founded"></label>
                            <input asp-for="General.Founded" type="date" name="Founded" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                <form id="submitAddressForm" method="POST" asp-action="EditAddress">
                    <input name="CompanyId" type="hidden" value="@Model.Id" />
                    <input name="Id" type="hidden" value="@Model.Address.Id" />
                    <div class="form-group row mb-3">
                        <div class="col-8">
                            <label asp-for="Address.Address"></label>
                            <input asp-for="Address.Address" type="text" name="Address" class="form-control" />
                            <span asp-validation-for="Address.Address" class="form-text text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Address.City"></label>
                            <input asp-for="Address.City" type="text" name="City" class="form-control" />
                            <span asp-validation-for="Address.City" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col">
                            <label asp-for="Address.Address2">Address 2 <span class="text-muted">(Optional)</span></label>
                            <input asp-for="Address.Address2" type="text" name="Address2" class="form-control" placeholder="Appartment or suite" />
                            <span asp-validation-for="Address.Address2" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col">
                            <label asp-for="Address.Country"></label>
                            <input asp-for="Address.Country" type="text" name="Country" class="form-control" />
                            <span asp-validation-for="Address.Country" class="form-text text-danger"></span>
                        </div>

                        <div class="col">
                            <label asp-for="Address.State"></label>
                            <input asp-for="Address.State" type="text" name="State" class="form-control" />
                            <span asp-validation-for="Address.State" class="form-text text-danger"></span>
                        </div>

                        <div class="col">
                            <label asp-for="Address.ZipCode"></label>
                            <input asp-for="Address.ZipCode" type="text" name="ZipCode" class="form-control" />
                            <span asp-validation-for="Address.ZipCode" class="form-text text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="suppliers" role="tabpanel" aria-labelledby="supplier-tab">
                <table id="datatable" data-toggle="table" data-url="/api/vaccount"
                       data-query-params="queryParams"
                       data-total-field="totalItems"
                       data-data-field="items">
                    <thead>
                        <tr>
                            <th data-field="no" data-sortable="true">No</th>
                            <th data-field="name" data-sortable="true">Customer</th>
                            <th data-field="phone">Phone</th>
                            <th data-field="address">Address</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" id="saveBtn" class="btn btn-outline-primary" form="submitGeneralForm">Save</button>
            <a asp-action="index" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function queryParams(params) {
            //if (!params.search) {
            //    params.search = $('div.search input').val();
            //}

            return $.extend({}, params, {
                'companyId': @Model.Id
            });
        }

        $(document).ready(function () {
            $('#companyTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $('#saveBtn').attr('form', $(e.target).data('form'));
            })
        });
    </script>
}