@model Web.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Edit Company";
    ViewData["SubTitle"] = "Please provide all required details to edit company info";
}


<div class="btn-toolbar mb-md-0">
    <div class="btn-group mr-2">
        <form method="POST" asp-action="Delete">
            <input asp-for="Id" type="hidden" />
            <button type="submit" class="btn btn-outline-danger" onclick="if (!confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
        </form>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Companies</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.General.Name</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 col-lg-3">

        <div class="card">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="general-item" data-toggle="list" href="#general" role="tab" aria-controls="general">General</a>
                <a class="list-group-item list-group-item-action" id="address-item" data-toggle="list" href="#address" role="tab" aria-controls="address">Address</a>
                @foreach(var section in ViewBag.Sections as List<Web.ViewModels.CompanySectionViewModel>) {
                    <a class="list-group-item list-group-item-action" id="@(section.SectionCode)-item" data-toggle="list" href="#@(section.SectionCode)" role="tab" aria-controls="@(section.SectionCode)">
                        @(section.SectionName)
                    </a>
                }
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-sm btn-primary" asp-action="AddSection" asp-route-id="@Model.Id" data-target="modal" title="Add new section"><i class="fa fa-plus-circle mr-1"></i> Add new section</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-item">
                <div class="card">
                    <div class="card-header">
                        <button type="submit" id="saveBtn" class="btn btn-sm btn-primary" form="submitGeneralForm">Save</button>
                    </div>
                    <div class="card-body">
                        <form id="submitGeneralForm" method="POST" asp-action="Edit">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <div class="form-group row mb-3">
                                <div class="col-4">
                                    <label asp-for="General.No"></label>
                                    <input asp-for="General.No" name="No" class="form-control" required />
                                    <span asp-validation-for="General.No" class="text-danger"></span>
                                </div>
                                <div class="col-8">
                                    <label asp-for="General.Name"></label>
                                    <input asp-for="General.Name" name="Name" class="form-control" required />
                                    <span asp-validation-for="General.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <div class="col-4">
                                    <label asp-for="General.Website"></label>
                                    <input asp-for="General.Website" name="Website" class="form-control" placeholder="http://" />
                                    <span asp-validation-for="General.Website" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="General.PhoneNumber"></label>
                                    <input asp-for="General.PhoneNumber" name="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="General.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="General.Email"></label>
                                    <input asp-for="General.Email" name="Email" class="form-control" />
                                    <span asp-validation-for="General.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <div class="col-4">
                                    <label asp-for="General.CEO"></label>
                                    <input asp-for="General.CEO" name="CEO" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label asp-for="General.EIN"></label>
                                    <input asp-for="General.EIN" name="EIN" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label asp-for="General.DB"></label>
                                    <input asp-for="General.DB" name="DB" class="form-control" />
                                    <span asp-validation-for="General.DB" class="text-danger"></span>
                                </div>
                                <div class="col-2">
                                    <label asp-for="General.Founded"></label>
                                    <input asp-for="General.Founded" type="date" name="Founded" class="form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-item">
                <div class="card">
                    <div class="card-header">
                        <button type="submit" id="saveBtn" class="btn btn-sm btn-primary" form="submitAddressForm">Save</button>
                    </div>
                    <div class="card-body">
                        <form id="submitAddressForm" method="POST" asp-action="EditAddress">
                            <input type="hidden" name="CompanyId" value="@Model.Id" />
                            <input type="hidden" name="Id" value="@Model.Address.Id" />
                            <div class="form-group row mb-3">
                                <div class="col-8">
                                    <label asp-for="Address.Address"></label>
                                    <input asp-for="Address.Address" type="text" name="Address" class="form-control" />
                                    <span asp-validation-for="Address.Address" class="form-text text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="Address.City"></label>
                                    <input asp-for="Address.City" type="text" name="City" class="form-control" />
                                    <span asp-validation-for="Address.City" class="form-text text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <div class="col">
                                    <label asp-for="Address.Address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                    <input asp-for="Address.Address2" type="text" name="Address2" class="form-control" placeholder="Appartment or suite" />
                                    <span asp-validation-for="Address.Address2" class="form-text text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <div class="col">
                                    <label asp-for="Address.Country"></label>
                                    <input asp-for="Address.Country" type="text" name="Country" class="form-control" />
                                    <span asp-validation-for="Address.Country" class="form-text text-danger"></span>
                                </div>

                                <div class="col">
                                    <label asp-for="Address.State"></label>
                                    <input asp-for="Address.State" type="text" name="State" class="form-control" />
                                    <span asp-validation-for="Address.State" class="form-text text-danger"></span>
                                </div>

                                <div class="col">
                                    <label asp-for="Address.ZipCode"></label>
                                    <input asp-for="Address.ZipCode" type="text" name="ZipCode" class="form-control" />
                                    <span asp-validation-for="Address.ZipCode" class="form-text text-danger"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @foreach(var section in ViewBag.Sections as List<Web.ViewModels.CompanySectionViewModel>) {
                <div class="tab-pane fade" id="@(section.SectionCode)" role="tabpanel" aria-labelledby="@(section.SectionCode)-item">
                    <div class="card">
                        <div class="card-header">
                            <div class="btn-toolbar d-flex justify-content-between">
                                <a class="btn btn-sm btn-primary" asp-action="AddSectionField" asp-route-companysectionid="@(section.Id)" data-target="modal"><i class="fa fa-plus-circle mr-1"></i> Add new field</a>

                                <form method="POST" asp-action="DeleteSection">
                                    <input name="Id" value="@(section.Id)" type="hidden" />
                                    <button type="submit" class="btn btn-sm btn-danger" onclick="if (!confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>@(section.SectionDescription)</p>

                            <div class="table-responsive-md">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                            <th>Link</th>
                                            <th>Note</th>
                                            <th class="text-nowrap text-right table-active">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var field in section.Fields) {
                                            <tr>
                                                <td>@(field.Name)</td>
                                                <td>@(field.Value)</td>
                                                <td class="text-nowrap">
                                                    @if(!string.IsNullOrEmpty(field.Link)) {
                                                        <a href="@(field.Link)" target="_blank"><i class="fa fa-external-link-alt mr-1"></i> @(field.Link)</a>
                                                    }
                                                </td>
                                                <td>@(field.Note)</td>
                                                <td class="text-nowrap text-right table-active">
                                                    <a asp-action="EditSectionField" asp-route-id="@(field.Id)" class='btn btn-outline-secondary' data-target="modal">Edit</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function queryParams(params) {
            //if (!params.search) {
            //    params.search = $('div.search input').val();
            //}

            return $.extend({ 'companyId': @Model.Id }, params);
        }

        $(document).ready(function () {
            var url = document.location.toString();
            if (url.match('#')) {
                $('#list-tab a[href="#' + url.split('#')[1] + '"]').tab('show');
            }

            $('#list-tab a').on('shown.bs.tab', function (e) {
                window.location.hash = e.target.hash;
            })
        });
    </script>
}