@model Web.ViewModels.SectionViewModel

@{
    ViewData["Title"] = "Edit Section";

    var guid = Guid.NewGuid();
    var listUrl = Url.RouteUrl("GetSectionFields");
    var fields = (List<Web.ViewModels.SectionFieldViewModel>)ViewData["SectionFields"];
}

@section RightSidebar {
    <div class="ui sticky">
        <div class="ui clearing">
            <h4 class="ui header">Sections</h4>
            <a asp-action="AddSectionField" asp-route-id="@Model.Id" data-request="ajax" rel="dialog"><i class="plus icon" data-action="create"></i> Create</a>
        </div>
    </div>
}
<div role="toolbar" class="ui secondary menu">
    <div class="right menu">
        <form asp-action="Delete" asp-route-Id="@Model.Id" method="delete">
            <button type="submit" class="red ui button" onclick="if (!confirm('Are you sure want to delete this?')) { return false; }"><i class="trash icon"></i> Remove</button>
        </form>
    </div>
</div>

<div class="ui segments">
    <div class="ui segment">
        <form class="ui form" asp-action="Edit">
            <fieldset>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="field required">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" required />
                    <span asp-validation-for="Name"></span>
                </div>
                <button type="submit" class="ui submit button">Save</button>
            </fieldset>
        </form>
    </div>
</div>

<table id="@(guid)" class="ui selectable celled unstackable orange table"></table>

@section Scripts {
    <script type="text/javascript">
        function createCompanySectionFieldComplete(jqXHR, status) {
            if (status === 'success') {
                $('.modal').modal('hide');
                window.SectionFieldsTable.draw('true');
            }
        }

        $(document).ready(function () {
            window.SectionFieldsTable = $('#@(guid)').DataTable({
                'ajax': {
                    'url': '@(listUrl)',
                    'data': (d) => {
                        return $.extend({}, d, { 'sectionId': @(Model.Id)});
                    }
                },
                'columns': [
                    { 'title': 'Name', 'data': 'name' },
                    { 'title': 'Type', 'data': 'typeName' },
                    { 'title': 'Is Required', 'data': 'isRequired' }
                ]
            }) ;
        });
    </script>
}